<header>

    <a href="/" class="logo"><i class="fas fa-utensils" "></i>food.for.free</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link {{activate_category}}"
                   aria-current="page" href="/foods/get_category">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{activate_food}}" href="/foods/get_food">Foods</a>
            </li>
            <li class="nav-item">
<!--                <a class="nav-link" href="#">Link</a>-->
                {% if user.is_authenticated %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link {{activate_login}}" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{activate_register}}" href="/register">Register</a>
            </li>
            {% endif %}

        </ul>
    </nav>

</header>


<!-- footer section  -->



