<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>food.for.free</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#speciality">speciality</a>
        <a href="#popular">popular</a>
        <a href="#gallery">gallery</a>
        <a href="#review">review</a>
        <a href="#order">order</a>
        <a class="nav-link {{activate_category}}" href="/foods/get_category">Category</a>
        <a href="#cartr" class="logo"><i class="fas fa-shopping-cart"></i></a>
        <a href="/login" class="logo {{activate_login}}"><i class="fas fa-sign-in-alt"></i>Login</a>
        <a href="/logout" class="logo"><i class="fas fa-sign-out-alt"></i>Logout</a>
        <a href="/register" class="logo {{activate_register}}"><i class="fas fa-user-plus"></i>Sign Up</a>

    </nav>

</header>


<!-- footer section  -->



